* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #7264d6;
}

/* =================================================== Common ====================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 52px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 113px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 6px;
  background: #212832;

  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-text {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d77;
}

.section-text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  margin-right: 12px;
  background: #696d77;
}

.section-heading {
  margin-top: 12px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.25;
  color: #212832;
}

.section-desc {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #696d76;
}

/* =================================================== Header ====================================================== */
.header {
  padding-top: 42px;
}

.header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: 70px;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d76;
  padding: 8px 24px;
}

.navbar__link::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  bottom: 0;
  left: 24px;
  right: 24px;
  border-radius: 1px;
  height: 2px;
  opacity: 0;
  transition: 0.25s;
}

.navbar__link:hover::after {
  opacity: 1;
}

.navbar__link:hover {
  color: #212832;
  text-shadow: 1px 0 0 currentColor;
}

.header__action {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__action-link {
  padding: 8px 28px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #212832;
  cursor: pointer;
}

/* =================================================== Hero ====================================================== */
.hero {
  margin-top: 76px;
}

.hero__inner {
  display: flex;
}

.hero__left {
  margin-top: 57px;
  width: 46%;
}

.hero__text {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d77;
}

.hero__text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  margin-right: 12px;
  background: #696d77;
}

.hero__heading {
  margin-top: 12px;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.17;
  color: #212832;
}

.hero__heading span {
  color: var(--primary-color);
}

.hero__form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  height: 74px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 16px 42px 0px #00000012;
}

.hero__form-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;

  font-size: 1.6rem;
  line-height: 1.75;
  padding: 23px 16px 23px 23px;
}

.hero__form-input::placeholder {
  color: #696d76;
}

.hero__form-btn {
  background: var(--primary-color);
  border-radius: 8px;
  width: 149px;
  height: 58px;
  border: none;
  margin-right: 8px;
  flex-shrink: 0;
}

.hero__textnote {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #696d76;
}

.hero__right {
  flex-grow: 1;
  margin-left: 160px;
}

.hero__media {
  position: relative;
}

.hero__img {
  width: 296px;
  height: 562px;
  max-width: 100%;
  object-fit: cover;
}

.hero__deposite {
  position: absolute;
  top: 113px;
  left: -100px;
  display: flex;
  width: 174px;
  height: 46px;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 10px 20px 0px #00000012;
  border-radius: 6px;
}

.hero__deposite-icon {
  width: 18px;
  height: 18px;
}

.hero__deposite-text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #31456a;
}

.hero__deposite-price {
  margin-left: 19px;
  font-size: 1.4rem;
  line-height: 1;
  color: #4ab5e3;
}

.hero__badge {
  position: absolute;
  top: 127px;
  right: 0;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #da6464;
}

.hero__badge-text {
  font-weight: 600;
  font-size: 4.4rem;
  color: #fff;
}

.hero__badge-label {
  font-size: 1.6rem;
  color: #fff;
}

.hero__card {
  position: absolute;
  bottom: 61px;
  right: 104px;
  display: flex;
  align-items: center;
  justify__content: center;
  column-gap: 11px;
  padding: 20px 0 22px 14px;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
}

.hero__card-info {
  display: flex;
  flex-direction: column;
}

.hero__card-icon {
  width: 20px;
  height: 26px;
}

.hero__card-price {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
}

.hero__card-label {
  margin-top: 5px;
  font-size: 0.8rem;
  line-height: 1;
  color: #fff;
}

.hero__deposite-icon,
.hero__card-icon {
  max-width: 100%;
}

/* =================================================== Works ====================================================== */
.work {
  margin-top: 160px;
}

.work__inner {
  display: flex;
}

.work__left {
  width: 78%;
}

.work__media {
  position: relative;
}

.work__img-wrap {
  position: relative;
  width: 470px;
}

.work__img-wrap::after {
  content: "";
  position: absolute;
  height: 519px;
  z-index: -1;
  inset: auto 0 0 0;
  background: #92c2c2;
  border-radius: 30px;
}

.work__img {
  width: 456px;
  display: block;
  margin: 0 auto;
}

.work__badge {
  position: absolute;
  top: 76px;
  right: 155px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 8px;
  padding: 12px;
  width: 64px;
  height: 64px;
}

.work__badge-icon {
  width: 40px;
  height: 40px;
  background: #f8fbfe;
  border-radius: 4px;
  padding: 9px 6px 8px;
}

.work__card {
  position: absolute;
  right: 0;
  bottom: 96px;

  width: 226px;
  height: 70px;
  background: #fffdfa;
  border-radius: 8px;
  box-shadow: 0px 14px 34px 0px #00000012;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work__card-icon-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4ab5e3;
  border-radius: 6px;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.work__card-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  padding: 7px 5px;
}

.work__card-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-left: 48px;
}

.work__card-text {
  /* font-family: Inter; */
  font-weight: 600;
  font-size: 1.4rem;
  color: #212832;
}

.work__card-label {
  /* font-family: Inter; */
  font-weight: 400;
  font-size: 1.2rem;
  color: #696d76;
}

.work__right {
  flex-grow: 1;
  margin: 30px 0 0 130px;
}

.work__text {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d77;
}

.work__text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  margin-right: 12px;
  background: #696d77;
}

.work__heading {
  margin-top: 12px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.25;
  color: #212832;
}

.work__list {
  margin-top: 70px;
}

.work-item {
  margin-bottom: 30px;
}

.work-item:last-child {
  margin-bottom: 0;
}

.work-item__heading {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.45;
  color: #212832;
}

.work-item__desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d76;
}

/* =================================================== About ====================================================== */
.about {
  margin-top: 160px;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  row-gap: 160px;
}

.about__content {
  width: 470px;
}

.about__list {
  margin: 28px 0 38px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.about__item {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #212832;
}

.about__item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-right: 12px;
}

.about__action-btn {
  width: 149px;
  height: 58px;
}

.about__media-top {
  position: relative;
  margin-top: 86px;
}

.about__img-top {
  width: 482px;
  height: 322px;
}

.about__badge {
  position: absolute;
  top: -48px;
  right: 0;

  width: 276px;
  height: 86px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px #00000012;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 23px 13px;
}

.about__badge-icon-wrap {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #f7ebeb;
  padding: 10px;
  margin-right: 14px;
}

.about__badge-icon {
  width: 20px;
  height: 20px;
}

.about__info-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__info-left {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-right: 67px;
}

.about__info-text {
  /* font-family: Inter; */
  font-weight: 500;
  font-size: 1.2rem;
  color: #212832;
}

.about__info-right {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.about__info-price {
  /* font-family: Inter; */
  font-size: 1.6rem;
  color: #212832;
}

.about__info-label {
  /* font-family: Inter; */
  font-size: 1rem;
  color: #696d76;
  margin-left: auto;
}

.about__income {
  position: absolute;
  right: 0px;
  bottom: 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 120px;
  height: 120px;
  padding: 14px 0 15px 15px;
  border-radius: 16px;
  background: #439f90;
}

.about__income-icon-wrap {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.about__income-icon {
  width: 15px;
  height: 15px;
}

.about__income-text {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 8px;
}

.about__income-price {
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
}

.about__media {
  position: relative;
}

.about__img {
  display: flex;
  width: 413px;
  height: 600px;
  margin-left: 30px;
}

.about__img-wrap {
  position: relative;
}

.about__img-wrap::after {
  content: "";
  position: absolute;
  width: 470px;
  height: 432px;
  z-index: -1;
  inset: auto 0 0 0;
  background: #92c2c2;
  padding: 0 0 20px 20px;
  border-radius: 8px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 22%);
}

.about__cash-icon-wrap {
  position: absolute;
  bottom: 216px;
  right: -2px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: var(--primary-color);
}

.about__cash-icon {
  width: 42px;
  height: 24px;
}

.about__content-bottom {
  margin-top: 50px;
  justify-self: flex-end;
}

.about__block {
  position: absolute;
  right: 30px;
  bottom: 57px;

  width: 281px;
  height: 220px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 44px 48px 0px #0000001a;
  padding: 28px;
}

.about__block-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #212832;
}

.about__row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.about__item-card-wrap {
  width: 63px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #f2f2fa;
}

.about__item-card {
  width: 40px;
}

.about__item-card-wrap:nth-child(3) .about__item-card {
  width: 28px;
}

.about__item-card-wrap:nth-child(6) {
  background: #f9ea63;
}

.about__item-card-wrap:nth-child(6) .about__item-card {
  width: 15px;
}

/* =================================================== Client ====================================================== */
.client {
  margin-top: 160px;
}

.client__top {
  width: 435px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.client__text {
  display: flex;
  justify-content: center;
}

.client__desc {
  margin-top: 18px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d76;
}

.client__body {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.client__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client__comment-wrap-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 570px;
  min-height: 134px;
  padding: 42px 28px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 22px 54px 0px #00000012;
}

.client__comment-wrap-left::before {
  content: "";
  position: absolute;
  bottom: -91px;

  border: 46px solid;
  border-color: transparent transparent #fff;
  rotate: 180deg;
}

.client__comment-wrap-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 570px;
  min-height: 134px;
  padding: 42px 28px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #dfe2e8;
  box-shadow: none;
}

.client__comment-wrap-right::before {
  content: "";
  position: absolute;
  bottom: -91px;

  border: 46px solid;
  border-color: transparent transparent #fff;
  rotate: 180deg;
  filter: drop-shadow(1px 0 0 #dfe2e8) drop-shadow(-1px 0 0 #dfe2e8);
}

.client__comment {
  font-size: 2.2rem;
  line-height: 1.54;
  text-align: center;
  color: #696d76;
}

.avatar__info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar__img-wrap {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: #4ab5e3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.client__item:last-child .avatar__img-wrap {
  background: #439f90;
}

.avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.client__name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.38;
  color: #070052;
}

.client__label {
  margin-top: 2px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #696d76;
}

.client__dots {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.client__dot {
  width: 22px;
  height: 6px;
  border: 1px solid #9b9fab;
  margin-left: 12px;
}

.client__dot--active {
  background: #7264d6;
  cursor: default;
}

/* =================================================== Blog ====================================================== */
.blog {
  margin-top: 160px;
}

.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__left {
  width: 435px;
}

.blog__desc {
  margin-top: 18px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d76;
}

.blog__btn {
  width: 123px;
  height: 58px;
  border-radius: 8px;
}

.blog__body {
  margin-top: 70px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog__item {
  display: flex;
  column-gap: 22px;
  width: 570px;
  height: 216px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #dfe2e8;
  padding: 28px;
}

.blog__item-active {
  border: none;
  box-shadow: 0px 20px 50px 0px #00000012;
}

.blog__item-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.blog__item-info {
  margin-top: 10px;
}

.blog__item-date {
  font-size: 1.4rem;
  line-height: 1.71;
  color: #696d76;
}

.blog__item-desc {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #212832;
}

.blog__item-cta {
  margin-top: 20px;
  font-size: 1.6rem;
  line-height: 1.625;
  color: #696d76;
  cursor: pointer;
}

.blog__item-cta--active {
  color: var(--primary-color);
}

/* =================================================== Download ====================================================== */
.download {
  margin-top: 160px;
}

.download__inner {
  position: relative;
  height: 466px;
  background: var(--primary-color);
  border-radius: 24px;
  padding: 49px 112px;
}

.download__content {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 435px;
  margin-left: auto;
  margin-right: auto;
}

.download__text,
.download__heading,
.download__desc {
  color: #fff;
}

.download__text::before {
  content: "";
  background: #fff;
}

.download__desc {
  font-size: 1.6rem;
  line-height: 1.75;
}

.download__app {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

.download__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 182px;
  height: 64px;
  padding: 18px 32px;
  background: #fff;
  border-radius: 6px;
}

.download__icon-googleplay {
  width: 24px;
  height: 26px;
}

.download__icon-appstore {
  width: 20px;
  height: 24px;
}

.download__item-text {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--primary-color);
}

.download__item-name {
  margin-top: 3px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.download__star-decor {
  width: 154px;
  height: 154px;
}

.download__star-decor:nth-child(1) {
  position: absolute;
  top: 49px;
  left: 112px;
}

.download__star-decor:nth-child(2) {
  position: absolute;
  top: 49px;
  right: 112px;
}

.download__star-decor:nth-child(3) {
  position: absolute;
  bottom: 49px;
  left: 166px;
}

.download__star-decor:nth-child(4) {
  position: absolute;
  bottom: 49px;
  right: 166px;
}

/* =================================================== Footer ====================================================== */
.footer {
  margin-top: 100px;
  background: #fafbff;
}

.footer__row {
  padding-top: 100px;
  display: flex;
  column-gap: 163px;
}

.footer__heading {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #212832;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.footer__link {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #6a6e78;
}

.footer__desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #6a6e78;
}

.footer__heading-form {
  margin-top: 48px;
  font-weight: 600;
  font-size: 1.8;
  line-height: 1.67;
  color: #0a142f;
}

.footer__form {
  margin-top: 24px;
  display: flex;
  column-gap: 20px;
}

.footer__form-input {
  width: 270px;
  height: 52px;
  padding: 12px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #8e919a;
  color: #8e919a;
  background: transparent;
}

.footer__form-submit {
  color: #fff;
  border: var(--primary-color);
  background: var(--primary-color);
}

.footer__form-input::placeholder {
  font-size: 1.6rem;
  line-height: 1.75;
  color: #8e919a;
}

.footer__bottom {
  margin-top: 54px;
  display: flex;
  column-gap: 100px;
}

.footer__contact {
  font-size: 1.8rem;
  line-height: 1.67;
  text-decoration: underline;
  color: #6a6e78;
}

.copyright {
  margin-top: 28px;
  text-align: center;
  background: var(--primary-color);
  padding: 28px 0;
}

.copyright__desc {
  font-size: 1.6rem;
  line-height: 1.67;
  color: #fff;
}
