* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #7264d6;
}

/* =================================================== Common ====================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 52px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 113px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 6px;
  background: #212832;

  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* =================================================== Header ====================================================== */
.header {
  padding-top: 42px;
}

.header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: 70px;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d76;
  padding: 8px 24px;
}

.navbar__link::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  bottom: 0;
  left: 24px;
  right: 24px;
  border-radius: 1px;
  height: 2px;
  opacity: 0;
  transition: 0.25s;
}

.navbar__link:hover::after {
  opacity: 1;
}

.navbar__link:hover {
  color: #212832;
  text-shadow: 1px 0 0 currentColor;
}

.header-action {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-action__link {
  padding: 8px 28px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #212832;
  cursor: pointer;
}

/* =================================================== Hero ====================================================== */
.hero {
  margin-top: 76px;
}

.hero__inner {
  display: flex;
}

.hero__left {
  margin-top: 57px;
  width: 46%;
}

.hero__text {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d77;
}

.hero__text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  margin-right: 12px;
  background: #696d77;
}

.hero__heading {
  margin-top: 12px;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.17;
  color: #212832;
}

.hero__heading span {
  color: var(--primary-color);
}

.hero__desc {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #696d76;
}

.hero-form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  height: 74px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 16px 42px 0px #00000012;
}

.hero-form__input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;

  font-size: 1.6rem;
  line-height: 1.75;
  padding: 23px 16px 23px 23px;
}

.hero-form__input::placeholder {
  color: #696d76;
}

.hero-form__btn {
  background: var(--primary-color);
  border-radius: 8px;
  width: 149px;
  height: 58px;
  border: none;
  margin-right: 8px;
  flex-shrink: 0;
}

.hero__textnote {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #696d76;
}

.hero__right {
  flex-grow: 1;
  margin-left: 160px;
}

.hero__media {
  position: relative;
}

.hero__img {
  width: 296px;
  height: 562px;
  max-width: 100%;
  object-fit: cover;
}

.hero-deposite {
  position: absolute;
  top: 113px;
  left: -100px;
  display: flex;
  width: 174px;
  height: 46px;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 10px 20px 0px #00000012;
  border-radius: 6px;
}

.hero-deposite__icon {
  width: 18px;
  height: 18px;
}

.hero-deposite__text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #31456a;
}

.hero-deposite__price {
  margin-left: 19px;
  font-size: 1.4rem;
  line-height: 1;
  color: #4ab5e3;
}

.hero-badge {
  position: absolute;
  top: 127px;
  right: 0;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #da6464;
}

.hero-badge__text {
  font-weight: 600;
  font-size: 4.4rem;
  color: #fff;
}

.hero-badge__label {
  font-size: 1.6rem;
  color: #fff;
}

.hero-card {
  position: absolute;
  bottom: 61px;
  right: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 11px;
  padding: 20px 0 22px 14px;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
}

.hero-card__info {
  display: flex;
  flex-direction: column;
}

.hero-card__icon {
  width: 20px;
  height: 26px;
}

.hero-card__price {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
}

.hero-card__label {
  margin-top: 5px;
  font-size: 0.8rem;
  line-height: 1;
  color: #fff;
}

.hero-deposite__icon,
.hero-card__icon {
  max-width: 100%;
}

/* =================================================== Works ====================================================== */
